(function() {
    'use strict';

    angular.module('env', [])

        .constant('CONFIG',{
            ENV:'dev',
            FIREBASE_URL: 'https://time-tracker-angular.firebaseio.com/'
        })

    ;

})();