@import "partials/offcanvas";

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body {
  padding-top: 70px;
  padding-bottom: 80px;
}

#loading {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  //background: white;
  transition: all .3s;
  display: flex;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

h1:first-of-type,h2:first-of-type,h3:first-of-type{
  margin-top: 0;
}
h2 {
  margin-bottom: 20px;
}

.editable-wrap {
  margin-bottom: 20px;
}

.editable-click, a.editable-click {
  border-bottom: none;
  color: inherit;
  border-bottom: dotted 1px rgba(0, 0, 0, 0);
}

.editable-click:hover, a.editable-click:hover {
  border-bottom: dotted 1px #2a6496;
  cursor: pointer;
}

.actions {
  text-align: right;
}

