<h2 editable-text="jobvm.job.name" onbeforesave="jobvm.updateJob($data)">{{ jobvm.job.name }}</h2>

<form class="form-horizontal" ng-submit="jobvm.addTime()">

    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="jobvm.newTime.minutes">
                <span class="input-group-addon">m</span>
            </div>
        </div>
        <div class="col-xs-6">
            <input placeholder="Description" type="text" class="form-control" ng-model="jobvm.newTime.description">
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary btn-block">
                +
            </button>
        </div>
    </div>


</form>

<div ng-show="jobvm.times.length>0">

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Time</th>
            <th>Description</th>
            <th>Date</th>
            <th class="actions"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="time in jobvm.times | orderBy:'date'">
            <td>
                <div editable-number="time.minutes" e-min="1" onbeforesave="jobvm.updateTime(time,'minutes',$data)">
                    {{time.minutes || '&nbsp;' }}
                </div>
            </td>
            <td>
                <div editable-text="time.description" onbeforesave="jobvm.updateTime(time,'description',$data)">
                    {{time.description || '&nbsp;' }}
                </div>
            </td>
            <td>
                <div editable-text="time.date" onbeforesave="jobvm.updateTime(time,'date',$data)">
                    {{ time.date | fromNow }}
                </div>
            </td>
            <td class="actions">
                <a class="btn btn-xs btn-danger" really-message="Are you sure?" really-click="jobvm.deleteTime(time)"><i
                        class="fa fa-trash"></i></a>
            </td>
        </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">{{jobvm.totalTime}}</td>
            </tr>
        </tfoot>

    </table>
    </div>

</div>

<a really-click="jobvm.deleteJob()" really-message="Confirm" class="btn btn-xs btn-danger">Delete Job</a>

