<h2>Jobs</h2>

<form class="form-horizontal" ng-submit="jobsvm.addJob()">

    <div class="input-group">
        <input placeholder="Name" type="text" class="form-control" ng-model="jobsvm.newJob.name">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-block">
                +
            </button>
        </span>
    </div>

</form>

<div class="list-group">
    <a class="list-group-item" ng-repeat="j in jobsvm.jobs" ui-sref="app.jobs.job({job:j.$id})">
        {{j.name}}
    </a>
</div>